.container{
    display:flex;
    background-color: aqua;
}

.sect{
    padding:10px;
    height:100vh;
    width:100%;
}

.sect1{
    background-color: aqua;
}
.sect2{
    background-color: cornflowerblue;
}
.sect3{
    background-color: indigo;
}